body {
    display: block; /* Use block layout instead of flex */
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

#content {
    margin-top: 100px;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: 1;
    background-color: #fdfef1;

    transition: opacity 1s ease;

    z-index: 50;
}
